In [10]:
#Ans 1: #python program to sort given list based on integer values.
l1=[('Sachin Tendulkar', 34357),('Ricky Pointing', 27483),('Jack kallis',25534),('Virat Kohli',24936)]
l1.sort(key=lambda x:x[1])
l1

[('Virat Kohli', 24936),
 ('Jack kallis', 25534),
 ('Ricky Pointing', 27483),
 ('Sachin Tendulkar', 34357)]

In [27]:
#Ans 2: square using map and lambda functions
l=[1,2,3,4,5,6,7,8,9,10]
l1=list(map(lambda x:x**2,l))
print(l1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
#Ans 3: converting list of integers into tuple of strings
lst=[1,2,3,4,5,6,7,8,9,10]
tpl=tuple(map(str,lst))
tpl

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [14]:
#Ans 4: computing product of a list containing numbers
from functools import reduce
l1=[i for i in range(1,26)]
a=reduce(lambda x,y:x*y ,l1 )
a

15511210043330985984000000

In [19]:
#Ans 5:
lt=[2,3,6,9,27,60,90,120,55,46]
l=list(filter(lambda x: x%2==0 and x%3==0 , lt))
print(l)

[6, 60, 90, 120]

In [26]:
#Ans 5:
l1=['python','php','radar','level']
lst=list(filter(lambda x: x==x[::-1] , l1))
print(lst)

['php', 'radar', 'level']